$color-default-bg: #f0f0f0;
$color-default-border: #666;
$color-default-text: #000;

$color-success-bg: #4b5cc4;
$color-success-border: #374496;
$color-success-text: #fff;

.ui-button {
  outline: none;
  height: 32px;
  border-radius: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;

  &.ui-style-type-default {
    background-color: $color-default-bg;
    color: $color-default-text;
    border-color: $color-default-border;
  }

  &.ui-style-type-success {
    background-color: $color-success-bg;
    color: $color-success-text;
    border-color: $color-success-border;
  }
}